extends layout
append head
    link(rel="stylesheet" href="/stylesheets/meme-detail.css")
    script(src="/javascripts/likes.js" type="module")
block content

    h1 #{meme.name}
    img(class ='memeImg' src=meme.meme_url)
    if authorized
        div(class='delete')
            a(class='deleteButton' href=`/meme/delete/${meme.id}` role='button') Delete Meme
    div(class='like')
        if like
            button(class = 'likeButtonClass' id=`likeButton`) Unlike Meme
        else
            button(class = 'likeButtonClass' id=`likeButton`) Like Meme
        p(id="counter") #{counter}

    //- div(class='like')
    //-     button
    //-         a(class='dislikeButton' href=`/meme/${meme.id}/toggleLike` role='button') Disike Meme
